:root {
    --purple: #BD00FF;
    --font-1: "Aubrey";
    --font-2: "Poppins";
}

body {
    background: black;
    font-family: var(--font-2);
}

.text-purple {
    color: var(--purple)
}

a {
    text-decoration: none
}

/* Navbar */
a.nav-link {
    font-family: var(--font-1);
    color: white;
    transition: all 1s;
    text-transform: uppercase;
    font-size: 1.7rem
}

a.nav-link:hover {
    color: var(--purple)
}

ul.navbar-nav {
    gap: 40px
}

.btn-navbar {
    font-size: 0.8rem
}

.btn-outline-light:hover {
    background: var(--purple);
    color: white;
    border-color: var(--purple)
}

.btn-light {
    background: var(--purple);
    color: white;
    border-color: var(--purple)
}

.btn-light:hover {
    background: #6d0294;
    color: white;
    border-color: var(--purple)
}

.btn-custom {
    background: var(--purple);
    color: white;
    transition: all 1s;
}

.btn-custom:hover {
    background: white;
    color: var(--purple);
}

.navbar {
    transition: all 1s ease;
}

.navbar.shrink {
    background-color: black !important;
    padding: 10px 15px !important;
    box-shadow: 0 0 8px var(--purple)
}

/* Contenuto Header */

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}

.content h1 {
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.content p {
    font-size: 1rem;
}


/* Header 1 */

.video-header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Video di sfondo */
#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

/* Overlay scuro per maggiore contrasto */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Opacità regolabile */
}

/* Header 2 */
.video-header2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Video di sfondo */
#background-video2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

/* Overlay scuro per maggiore contrasto */
.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Opacità regolabile */
}

/* Header 3 */
.video-header3 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Video di sfondo */
#background-video3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

/* Overlay scuro per maggiore contrasto */
.overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Opacità regolabile */
}




/* Footer */
.btn-link i {
    transition: all 1s;
    font-size: 25px
}

.btn-link i:hover {
    color: var(--purple)
}

.text-purple {
    color: var(--purple)
}

/* Cards */
.card {
    overflow: hidden;
}

.shadow-custom {
    box-shadow: 0 0 8px var(--purple)
}

.purple-bg {
    background-color: #BD00FF;
}


/* Form Filter by Category */

.filter-form {
    background-color: #000;
    padding: 10px;
    border-radius: 8px;
}

/* Stile per la barra di ricerca */
.search-input {
    background-color: #171717;
    color: white;
    border: 2px solid #BD00FF;
    border-radius: 5px;
    padding: 8px;
}

.search-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.search-input:focus {
    outline: none;
    border-color: #BD00FF;
    box-shadow: 0 0 5px #BD00FF;
}

/* Stile per il dropdown */
.genre-select {
    background-color: #171717;
    color: white;
    border: 2px solid #BD00FF;
    border-radius: 5px;
    padding: 8px;
}

/* Quando viene cliccato (focus), lo sfondo resta scuro */
.form-control:focus {
    background-color: #2c2c2c;
    color: white;
    border-color: #BD00FF;
    box-shadow: 0 0 5px #BD00FF;
    outline: none;
}

.genre-select:focus {
    outline: none;
    border-color: #BD00FF;
    box-shadow: 0 0 5px #BD00FF;
}


.card-title-car {
    font-size: 12px
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.carousel-inner {
    padding: 0;
}

.carousel-inner {
    display: flex;
    flex-wrap: nowrap;
}

/* Stile per il form di contatto */
.custom-filter-form {
    background-color: #000;
    padding: 10px;
    border-radius: 8px;
}

/* Stile per la barra di ricerca */
.custom-search-input {
    background-color: #171717;
    color: white;
    border: 2px solid #BD00FF;
    border-radius: 5px;
    padding: 8px;
}

.custom-search-input:focus {
    outline: none;
    border-color: #BD00FF;
    box-shadow: 0 0 5px #BD00FF;
}

/* Stile per il dropdown */
.custom-genre-select {
    background-color: #171717;
    color: white;
    border: 2px solid #BD00FF;
    border-radius: 5px;
    padding: 8px;
}

/* Quando viene cliccato (focus), lo sfondo resta scuro */
.custom-form-control:focus {
    background-color: #2c2c2c;
    color: white;
    border-color: #BD00FF;
    box-shadow: 0 0 5px #BD00FF;
    outline: none;
}

.custom-genre-select:focus {
    outline: none;
    border-color: #BD00FF;
    box-shadow: 0 0 5px #BD00FF;
}

/* Stile per la textarea */
.custom-textarea {
    background-color: #171717;
    color: white;
    border: 2px solid #BD00FF;
    border-radius: 5px;
    padding: 8px;
}

.custom-textarea:focus {
    outline: none;
    border-color: #BD00FF;
    box-shadow: 0 0 5px #BD00FF;
}

::placeholder {
    color: rgba(255, 255, 255, 0.6) !important;

}

li {
    list-style: none;
}


/* Confirmed and Denied Pages */

.confirmed-section {
    padding: 0;
    margin: 0;
    background-image: url(/public/media/Light\ Gradient\ 06.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%
}

#confirmed {
    position: relative;
    height: 100vh;
}

#confirmed .confirmed {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.confirmed {
    width: 100%;
    text-align: center;
    padding: 0px 15px;
    line-height: 1.4;
}

.confirmed .confirmed-error {
    height: 200px;
    line-height: 200px;
}

.confirmed .confirmed-error h1 {
    font-size: 160px;
    color: #373737;
    text-transform: uppercase;
}

.confirmed h2 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #222;
    margin: 0;
}

.confirmed-search {
    position: relative;
    padding-right: 123px;
    max-width: 420px;
    width: 100%;
    margin: 30px auto 22px;
}

.confirmed-search input {
    width: 100%;
    height: 40px;
    padding: 3px 15px;
    color: #222;
    font-size: 18px;
    background: #f8fafb;
    border: 1px solid rgba(34, 34, 34, 0.2);
    border-radius: 3px;
}

.confirmed-search button {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 120px;
    height: 40px;
    text-align: center;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 3px;
}

.confirmed a {
    display: inline-block;
    font-weight: 700;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.confirmed a>.arrow {
    position: relative;
    top: -2px;
    border: solid #373737;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

@media only screen and (max-width: 767px) {
    .confirmed .confirmed-error {
        height: 122px;
        line-height: 122px;
    }

    .confirmed .confirmed-error h1 {
        font-size: 122px;
    }
}