:root {
    --purple: #BD00FF;
    --font-1: "Aubrey";
    --font-2: "Poppins";
}

body {
    background: black;
    font-family: var(--font-2);
}

.text-purple{
    color: var(--purple)
}
a{
    text-decoration:none
}

/* Navbar */
a.nav-link {
    font-family: var(--font-1);
    color: white;
    transition: all 1s;
    text-transform: uppercase;
    font-size: 1.7rem
}

a.nav-link:hover {
    color: var(--purple)
}

ul.navbar-nav {
    gap: 40px
}

.btn-navbar {
    font-size: 0.8rem
}

.btn-outline-light:hover {
    background: var(--purple);
    color: white;
    border-color: var(--purple)
}

.btn-light{
    background: var(--purple);
    color: white;
    border-color: var(--purple)
}

.btn-light:hover {
    background: #6d0294;
    color: white;
    border-color: var(--purple)
}

.btn-custom {
    background: var(--purple);
    color: white;
    transition: all 1s;
}

.btn-custom:hover {
    background: white;
    color: var(--purple);
}

.navbar {
    transition: all 1s ease;
}

.navbar.shrink {
    background-color: black !important;
    padding: 10px 15px !important;
    box-shadow: 0 0 8px var(--purple)
}

/* Contenuto Header */

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}

.content h1 {
    font-size: 3rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.content p {
    font-size: 1rem;
}


/* Header 1 */

.video-header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Video di sfondo */
#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

/* Overlay scuro per maggiore contrasto */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Opacità regolabile */
}

/* Header 2 */
.video-header2 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Video di sfondo */
#background-video2 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

/* Overlay scuro per maggiore contrasto */
.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Opacità regolabile */
}

/* Header 3 */
.video-header3 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Video di sfondo */
#background-video3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

/* Overlay scuro per maggiore contrasto */
.overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Opacità regolabile */
}




/* Footer */
.btn-link i {
    transition: all 1s;
    font-size: 25px
}
.btn-link i:hover {
    color: var(--purple)
}
.text-purple {
    color: var(--purple)
}

/* Cards */
.card{
    overflow: hidden;
}
.shadow-custom{
    box-shadow: 0 0 8px var(--purple)
}
.purple-bg{
    background-color: #BD00FF;
}




  